body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
}

.link-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro {
    display: flex;
    justify-content: center;
    padding: 48px;
    gap: 24px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    width: 100px;
}

#blue-button {
    border: none;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.illustrations {
    display: flex;
    gap: 24px;
}

.image {
    display: flex;
    width: 100px;
    flex-direction: column;
}

#darker {
    color: darkgray;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.italics {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}